<h1>DOMination</h1>

<ul class="list">
  <li>One</li>
  <li>Two</li>
  <li>Three</li>
  <li>Four</li>
</ul>

<ul class="list">
  <li>A</li>
  <li>B</li>
  <li>C</li>
  <li>D</li>
</ul>

<p id="string_1" class="string">
  small_s_in_first_word_all_other_words_capitalized
</p>

<p>
  hehehehehe
</p>

<p id="italic_1" class="string">
  Italicize me
</p>



<button id="italicizer">italicizer</button>
